body{
  width:1200px;
  font-size: 0;
}
div{
  position: relative;
}
/*
Add your CSS to the ID selectors below
*/
a {
  z-index: 1;
}
#statue{
z-index: 2;
}

#ball{
position: absolute;
left: 23px;
  top: 20px;
}

#turnip{
position: absolute;
top: 267px;
  left: 297px;
}

#farm{
z-index: 3;
}

#grass{
  position: absolute;
top: 267px;
   left: 493px;
}

#tetris{
z-index: 4;
}

#L{
position: absolute;
  top: 1700px;
  left: 100px;
}

#T{
position: absolute;
   top: 1800px;
  left: 500px;
}

#I{
position:absolute ;
  top: 1700px;
  left: 1000px;
}